.MainBackground {
    -fx-background-image: url('file:src/Interpreter/Graphics/Pictures/StartPage/menu.png');
    -fx-background-size: 100% 100%;
}

.CompileButton {
    -fx-background-image: url('file:src/Interpreter/Graphics/Pictures/StartPage/compile.png');
    -fx-background-size: 100% 100%;
}

.StoryButton {
    -fx-background-image: url('file:src/Interpreter/Graphics/Pictures/StartPage/story.png');
    -fx-background-size: 100% 100%;
}

.SettingButton {
    -fx-background-image: url('file:src/Interpreter/Graphics/Pictures/StartPage/setting.png');
    -fx-background-size: 100% 100%;
}

.ExitButton {
    -fx-background-image: url('file:src/Interpreter/Graphics/Pictures/StartPage/exit.png');
    -fx-background-size: 100% 100%;
}