.ChatBox {
    -fx-control-inner-background: rgba(101, 84, 72, 0);
}

.Send {
    -fx-background-radius: 15;
    -fx-background-image: url('file: src/main/java/Interpreter/Graphics/Pictures/Onlinepage/sendbtn.png');
    -fx-background-size: 100% 100%;
}

.TextBox {
    -fx-background-radius: 15;
}