.MainBackground {
    -fx-background-image: url('file:src/Interpreter/Graphics/Pictures/CompilePage/CompileBG.jpg');
    -fx-background-size: 100% 100%;
}

.Back {
    -fx-background-image: url('file:src/Interpreter/Graphics/Pictures/Back.png');
    -fx-background-size: 100% 100%;
    -fx-background-radius: 30;
}

.ChooseFile {
    -fx-background-image: url('file:src/Interpreter/Graphics/Pictures/CompilePage/ChooseFile.png');
    -fx-background-size: 100% 100%;
    -fx-background-radius: 30;
}

.NewFile {
    -fx-background-image: url('file:src/Interpreter/Graphics/Pictures/CompilePage/NewFile.png');
    -fx-background-size: 100% 100%;
    -fx-background-radius: 30;
}

.Compile {
    -fx-background-image: url('file:src/Interpreter/Graphics/Pictures/CompilePage/CompileFile.png');
    -fx-background-size: 100% 100%;
    -fx-background-radius: 30;
}

.FileName {
    -fx-background-color: #8D8D8D;
    -fx-background-radius: 10;
}