.MainBG {
    -fx-background-image: url("file:src/main/java/Interpreter/Graphics/Pictures/Onlinepage/LoginPage.png");
    -fx-background-size: 100% 100%;
}

.Login {
    -fx-background-image: url("src/main/java/Interpreter/Graphics/Pictures/Onlinepage/signin.png");
    -fx-background-size: 100% 100%;
    -fx-background-radius: 30;
}


.Back {
    -fx-background-image: url('file:src/main/java/Interpreter/Graphics/Pictures/Back.png');
    -fx-background-size: 100% 100%;
    -fx-background-radius: 30;
}