.MainBG {
    -fx-background-image: url('file:src/Interpreter/Graphics/Pictures/QuestionBG.png');
    -fx-background-size: 100% 100%;
}

.CodingBox {
    -fx-background-color: #FFF9DC;
    -fx-control-inner-background: #FFF9DC;
    -fx-border-color: #FFF9DC;
    -fx-font-family: Century;
    -fx-font-size: 20;
}

.Run {
    -fx-background-image: url('file:src/Interpreter/Graphics/Pictures/Run.png');
    -fx-background-size: 100% 100%;
    -fx-background-radius: 30;
}

.Back {
    -fx-background-image: url('file:src/Interpreter/Graphics/Pictures/Back.png');
    -fx-background-size: 100% 100%;
    -fx-background-radius: 30;
}