.MainBG{
    -fx-background-image: url("file:src/main/java/Interpreter/Graphics/Pictures/Onlinepage/SuccessBG.png");
    -fx-background-size: 100% 100%;
}

.Enter{
    -fx-background-image: url("file:src/main/java/Interpreter/Graphics/Pictures/Onlinepage/Enter.png");
    -fx-background-size: 100% 100%;
    -fx-background-radius: 50;
}

.Back {
    -fx-background-image: url('file:src/main/java/Interpreter/Graphics/Pictures/Back.png');
    -fx-background-size: 100% 100%;
    -fx-background-radius: 30;
}